<div class="row" style="width:100%">

  <!--Sidebar Menu-->
  <div class="col-md-2 shop-sidebar">
    <ul class="shop-menu" id="menu1">
      <li class="shop-menu-item">
        <a href="/new/hats">NEW</a>
      </li>
      <li class="shop-menu-item">
        <a href="/hot">HOT</a>
      </li>
      <li class="shop-menu-item active">
        <a href="/top/hats">TOP</a>
      </li>
    </ul>
    <ul class="shop-menu" id="menu2">
      <li class="shop-menu-item">
        <a href="/top">SHIRTS</a>
      </li>
      <li class="shop-menu-item">
        <a href="/top/sweatshirts">SWEATSHIRTS</a>
      </li>
      <li class="shop-menu-item active">
        <a href="/top/hats">HATS</a>
      </li>
      <li class="shop-menu-item">
        <a href="/top/wallart">WALL ART</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10 shop-items">

  </div>

</div>