<div class="row" style="width:100%">

  <!--Sidebar Menu-->
  <div class="col-md-2 shop-sidebar">
    <ul class="shop-menu" id="menu1">
      <li class="shop-menu-item">
        <a href="/new">NEW</a>
      </li>
      <li class="shop-menu-item active">
        <a href="/hot">HOT</a>
      </li>
      <li class="shop-menu-item">
        <a href="/top">TOP</a>
      </li>
    </ul>
    <ul class="shop-menu" id="menu2">
      <li class="shop-menu-item active">
        <a href="/hot">SHIRTS</a>
      </li>
      <li class="shop-menu-item">
        <a href="">SWEATSHIRTS</a>
      </li>
      <li class="shop-menu-item">
        <a href="">HATS</a>
      </li>
      <li class="shop-menu-item">
        <a href="">WALL ART</a>
      </li>
    </ul>
  </div>


  <!--Merchandise-->
  <div class="col-md-10 shop-items">
    <div class="row">
      <h2 style="padding: 100px;display: block;margin: 0 auto;">NOTHING TO SEE HERE</h2>
    </div>
  </div>
</div>